* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e4e7eb;
  color: #33404c;
  width: 100vw;
  height: 100vh;
  
}

main {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  text-align: center;
  margin: 1rem;
}

/* Layer-1 doesn't need changes */
.layer-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.layer-2 {
  position: relative;
  /* background: #b2bac7; */
  border-radius: 100%;
  padding: 1.2rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    /* padding: 0; */
  }
  
  100% {
    transform: scale(1.5);
  }
}

.layer-2::before,
.layer-2::after {
  content: '';
  position: absolute;
  top: 0.19rem;
  left: 0rem;
  width: calc(70% + 2.4rem);
  height: calc(70% + 2.4rem);
  border-radius: 100%;
  background-color: #b2bac7;
  z-index: -1;
  animation: pulse infinite ease-in-out 1000ms;
}

.layer-2::after {
  animation-delay: 1s;
}

/* 1. LAYER-3: This is now the source of the pulse effect */
.layer-3 {
  background-color: #071a39;
  border-radius: 100%;
  padding: 1rem; /* Padding is 1rem (16px) */
} 

h1 {
  color: #000;
  line-height: 1.2;
  font-weight: 600;
  margin-top: 2.5rem;
}

p {
  margin-top: 1.3rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  background-color: #071a39;
  color: white;
  font-weight: 500;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
  transition: background 0.3s ease-in-out;
}

a:hover {
  background: #7cd04f;
}
