* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #33404c;
  background-color: #e4e7eb;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  height: 100vh;
}

header {  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 1rem;
  width: 100%;
  padding-left: 20px;
}

header h1 {
  font-size: 1.3rem;
}

header img {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

header img:hover {
  transform: scale(1.2);
}

.phone-icon {
  background-color: #b2bac7;
  border-radius: 50%;
  padding: 1.5rem;
  /* width: 5rem; */
}

.otp-message {
  margin-top: 1rem;
}

.tel-number {
  /* color: black; */
  font-weight: 900;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-fields {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  border: 2px solid #071a39;
  width: 100%;
  margin-top: 2rem;
  padding: 0.8rem;
  align-items: center;
  border-radius: 0.4rem;
  transition: border 0.3s ease-in-out;
}

.input-fields:focus {
  border: 2px solid #7cd04f;
  outline: none;
}

input {
  border: none;
  background: transparent;
  border-bottom: 2px solid #33404c;
  width: 0.5rem;
}

.otp {
  margin-top: 1.5rem;
}

.otp a {
  text-decoration: none;
  color: #071a39;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.otp a:hover {
  color: #7cd04f;
}

.button {
  background-color: #071a39;
  padding: 0.8rem;
  border-radius: 0.8rem;
  width: 100%;
  transition: background 0.3s ease-in-out;
  margin-top: 2.5rem;
}

.button:hover {
  background: #7cd04f;
}

.button a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
}