* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #33404c;
}

body {
  background-color: #e4e7eb;
  width: clamp(390px, 100vw, 1000px);
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}

.return {
  position: absolute;
  left: 0;
}

.return img {
  width: 30px;
  transition: transform 0.3s ease-in-out;
}

.return img:hover {
  transform: scale(1.1);
}

.h-div {
  padding: 1rem;
  position: relative;
}

.h-div h1 {
  font-size: 1.25rem;
  text-align: center;
}

main {
  margin: 1rem;
  background-color: #f5f7fa;
  border-radius: 0.6rem;
  padding: 2rem;
}

main p {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 1rem;
}

.field1 {
  display: flex;
  flex-direction: column;
}

.field1.success {
  border-color: #071a39;
}

.field1.error {
  border-color: #ff3860;
} 

.field1 .error {
  color: #ff3860;
  font-size: 13px;
  height: 16px;
  margin: 0.3rem;
}

.field2 {
  display: flex;
  flex-direction: column;
  margin-top: -1.9rem;
}

.field2.success {
  border-color: #071a39;
}

.field2.error {
  border-color: #ff3860;
}  

.field2 .error {
  color: #ff3860;
  font-size: 13px;
  height: 13px;
  margin: 0.3rem;
}

.field3 {
  display: flex;
  flex-direction: column;
  margin-top: -1.9rem;
}

.field3.success {
  border-color: #071a39;
}

.field3.error {
  border-color: #ff3860;
}  

.field3 .error {
  color: #ff3860;
  font-size: 13px;
  height: 13px;
  margin: 0.3rem;
}

.field4 {
  display: flex;
  flex-direction: column;
  margin-top: -1.9rem;;
}

.field4.success {
  border-color: #071a39;
}

.field4.error {
  border-color: #ff3860;
}  

.field4 .error {
  color: #ff3860;
  font-size: 13px;
  height: 13px;
  margin: 0.3rem;
}

label {
  font-weight: 600;
}

input {
  background-color: transparent;
  border: none;
  border: 1px solid #071a39;
  border-radius: 0.4rem;
  padding: 0.8rem;
  transition: border 0.3s ease-in-out;
}

input:focus {
  border: 2px #7cd04f solid;
  outline: none;
}

.field4B {
  display: flex;
  border: 1px solid #071a39;
  border-radius: 0.4rem;
  transition: border 0.3s ease-in-out;
}


.field4B.success {
  border-color: #071a39;
}

.field4B.error {
  border-color: #ff3860;
}  

.field4B:focus {
  border: 2px solid #7cd04f;
}

.field4B input {
  width: 90%;
  border: none;
}

.field4B .error {
  color: #ff3860;
  font-size: 13px;
  height: 13px;
  margin: 0.3rem;
}

.country-code {
  background-color: #071a39;
  color: white;
  display: grid;
  align-items: center;
  padding: 5px;
  font-size: small;
}

form a button {
  background-color: #071a39;
  color: white;
  font-weight: 550;
  border: none;
  border: 2px solid #071a39;
  border-radius: 0.4rem;
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.8rem;
  transition: background 0.3s;
}

button:hover {
  background: #7cd04f;
  border: none;
}

.footer {
  margin-top: -0.5rem;
}

.footer a {
  text-decoration: none;
  color: #071a39;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #7cd04f;
}