* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e4e7eb;
  color: #33404c;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  gap: 20px;
}

header img {
  margin: 1rem;
  transition: transform 0.3s ease-in-out;
}

header img:hover {
  transform: scale(1.2);
}

header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #33404c;
  text-align: center;
  margin: 1rem;
}

main {
  margin: 1rem;
}

main p {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.field1 {
  display: flex;
  flex-direction: column;
}

.field2 {
  display: flex;
  flex-direction: column;
}

.field3 {
  display: flex;
  flex-direction: column;
}

.field4 {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
}

input {
  background-color: transparent;
  border: none;
  border: 2px solid #071a39;
  border-radius: 0.4rem;
  padding: 0.8rem;
  /* box-shadow: 0px 0px 10px 0px gainsboro; */
  transition: border 0.3s ease-in-out;
}

input:focus {
  border: 2px #7cd04f solid;
  outline: none;
}

.field4B {
  display: flex;
  border: 2px solid #071a39;
  border-radius: 0.4rem;
  transition: border 0.3s ease-in-out;
}

.field4B:focus {
  border: 2px solid #7cd04f;
}

.field4B input {
  border: none;
}

.country-code {
  background-color: #071a39;
  color: white;
  display: grid;
  align-items: center;
  padding: 5px;
  font-size: small;
  /* position: absolute; */
}

button {
  background-color: #071a39;
  color: white;
  font-weight: 500;
  border: none;
  border: 2px solid #071a39;
  border-radius: 0.4rem;
  margin-top: 1.5rem;
  padding: 0.8rem;
  /* box-shadow: 0px 0px 10px 0px gainsboro; */
  transition: background 0.3s;
}

button:hover {
  background: #7cd04f;
  border: none;
}

button a {
  text-decoration: none;
  color: white;
}

.footer {
  margin-top: -0.5rem;
}

.footer a {
  text-decoration: none;
  color: #071a39;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #7cd04f;
}


