* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  'Poppins', sans-serif;
  background: #e4e7eb;
  color: #33404c;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: clamp(100%, 70vw, 100vw);
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
}

header {
  width: clamp(300px, 70vw, 1000px);
}

header h2 {
  font-size: 28px;
  font-weight: 600;
}

main h4 {
  font-weight: 600;
  color: #a9acaf;
}

.ellipsis::after {
  content: "";
  display: inline-block;
  animation: ellipsis-dots 1.5s infinite;
  color: #a9acaf;
}

@keyframes ellipsis-dots {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: "";
  }
}


footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

ul {
  display: flex;
  width: clamp(300px, 87vw, 1000px);
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 15px 15px;
  list-style: none;
  gap: 10px;
  z-index: -1;
}

ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #33404c;
  font-size: 12px;
}

footer img {
  width: 20px;
}
