* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #33404c;
}

body {
  background: #e4e7eb;
}

/* Parent div */
.parent {
  width: clamp(390px, 100vw, 1000px);
  margin: 0 auto;
  position: relative;
}

/* Header */
header {
  width: 100%;
}

.return-home {
  position: absolute;
  left: 1rem;
  top: 1.2rem;
}

.return-home img {
  width: 25px;
  transition: transform 0.3s ease-in-out;
}

.return-home img:hover {
  transform: scale(1.1);
}

.h-div {
  padding: 1rem;
  position: relative;
}

.h-div h2 {
  font-size: 1.1rem;
  text-align: center;
}

/* Ride containers */
.solo-ride,
.shared-ride {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1.5px solid #071a39;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem; 
  border-radius: 0.4rem;
  transition: border 0.3s ease-in-out;
  cursor: pointer;
}

.shared-ride {
  position: relative;
}

.solo-ride:hover,
.shared-ride:hover {
  border-color: #7cd04f;
}

.solo-ride-child,
.shared-ride-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image1 img,
.image2 img {
  width: 2rem;
  height: auto;
}
.solo-ride-content,
.shared-ride-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solo-ride-content h2,
.shared-ride-content h2 {
  font-weight: 500;
  font-size: 1.25rem;
}

.solo-ride-content p,
.shared-ride-content p {
  font-size: 0.9rem;
  color: #555;
}

/* Price */
#solo-price,
#shared-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.2rem;
  color: #071a39;
  min-width: 70px;
}

/* Cost Comparison Section */
.cost-com {
  display: grid;
  margin: 1rem;
  margin-top: 3rem;
}

.cost-com h4 {
  margin-bottom: 0.8rem;
}

.cost-com-calc {
  background: white;
  border: 1.5px solid #071a39;
  padding: 1rem;
  border-radius: 0.4rem;
}

.solo-amount-div,
.shared-amount-div,
.saved-amount-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  font-size: 0.95rem;
}

.shared-amount-div {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ced2d6;
}

/* Confirm Button */
.confirm-ride {
  background: #071a39;
  margin: 2rem 1rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 0.4rem;
  display: block;
  width: calc(100% - 2rem);
  transition: background 0.3s ease-in-out;
  font-size: 0.9rem;
}

.confirm-ride:hover {
  background: #7cd04f;
}