* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #33404c;
}
body {
    background: #e4e7eb;
}
.heading {
    display: flex;
    margin: 2rem;
    gap: 4rem;
}
.return-home img{
    width: 2rem;
}
.heading h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
}
.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}
.location-image {
    background: #071a39;
    width: 3.5rem;
    border-radius: 50px;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.location-image img {
    width: 1.5rem;
}
.container p {
    font-weight: 550;
}

form {
    position: relative;
    margin: 1rem;
}
form img {
    position: absolute;
    width: 1.5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0.5rem;
}
form input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 0.12rem solid #071a39;
    padding-left: 2.5rem;
}
/* form input::placeholder {
    padding-left: 2rem;
} */
.desti {
    margin-left: 1rem;
    font-weight: 500; 
}
.places {
    display: flex;
    margin: 2rem;
    gap: 2rem;
}
.places img {
    width: 1.5rem;
}