* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #33404c;
}
body {
    background: #e4e7eb;
    width: clamp(390px, 100vw, 1000px);
    margin: 0 auto;
}
.heading {
    display: flex;
    margin: 1rem;
    gap: 4rem;
}
.return-home img{
    width: 2rem;
}
.heading h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
}
.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}
.location-image {
    background: #071a39;
    width: 3.5rem;
    border-radius: 50px;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.location-image img {
    width: 1.5rem;
}
.container p {
    font-weight: 550;
}
form {
    position: relative;
    margin: 1rem;
}
form img {
    position: absolute;
    width: 1.5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0.5rem;
}
form input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 0.12rem solid #071a39;
    padding-left: 2.5rem;
}

.desti-container {
    background: white;
    border-radius: 0.4rem;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    border: 0.12rem solid #071a39;
    height: 40rem;
    overflow-y: scroll;
}

.desti-container::-webkit-scrollbar {
    width: 10px;
}

.desti-container::-webkit-scrollbar-track {
    background: #e4e7eb;
    border-radius: 10px;
}

.desti-container::-webkit-scrollbar-thumb {
    background: #071a39;
    border-radius: 10px;
}

.places {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.places:hover {
    border: 0.12rem solid #28a745;
    border-radius: 0.4rem;
}

.location-icon {
    display: flex;
    align-items: center;
}
.location-icon img {
    width: 1rem;
}
