* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e4e7eb;
  color: #33404c;
  margin-bottom: 5rem;
  /* overflow: hidden; */
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: clamp(100%, 70vw, 100vw);
  margin: 0 auto;
  padding: 20px;
  position: relative;
  height: 95vh;
}

header {
  display: flex;
  justify-content: space-between;
  width: clamp(300px, 87vw, 1000px);
}

.header_text {
  line-height: 1.7;
}

.header_text h1 {
  font-size: clamp(20px, 3vw, 24px);
  font-weight: 600;
}

.header_text p {
  font-size: clamp(12px, 3vw, 24px);
}

.notis {
  position: relative;
}

.notis img {
  width: 22px;
}

.notis_show {
  border: 4px solid #7cd04f;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  /* visibility: hidden; */
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.658);
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  z-index: 2;
  width: clamp(390px, 100vw, 1000px);
  margin: 0 auto;
}

.modal-overlay.active {
  opacity: 1;
  display: flex;
}

.ride-request {
  /* position: relative; */
}

main {
  width: clamp(300px, 87vw, 1000px);
}

.ride-request-card-div {
  background-color: white;
  padding: 1rem;
  padding: 30px 20px;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  border-radius: 1rem;
  z-index: 3;
  display: none;
}

.ride-request-card-div.active {
  display: flex;
}

.ride-request-card h3 {
  font-size: 1.2em;
  font-weight: 600;
  height: 20px;
  margin-bottom: 13px;
}

.request-card_pfp {
  border-radius: 100%;
  object-fit: cover;
  width: 60px;
  height: 55px;
}

.passenger-details-general,
.details-text {
  margin-left: 0.5rem;
  display: flex;
  gap: 1rem;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
  margin: 0.5rem;
}

.cta-buttons a {
  border: 2px solid #071a39;
  border-radius: 5px;
  padding: 8px;
  width: 150px;
  max-width: 150px;
  text-decoration: none;
  text-align: center;
  color: #33404c;
  border: none;
}

.decline {
  background-color: #daf5cc;
  font-weight: 600;
}

.accept {
  background-color: #7cd04f;
  font-weight: 600;
}

.avail_rides {
  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
}

.avail_ridesdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.avail_ridesdiv h4 {
  font-weight: 500;
}

.toggle_switch {
  height: 15px;
  width: 60px;
  padding: 13px;
  background-color: #e4e7eb;
  border: none;
  border-radius: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-left: 4.5rem;
  position: relative;
  z-index: 1;
}

.toggle_switch.active {
  background-color: #7cd04f;
}

.off-circle {
  border: 12px solid white;
  border-radius: 100%;
  position: absolute;
  top: 1px;
  left: 3px;
}

.off-circle.active {
  visibility: hidden;
}

.on-circle {
  border: 12px solid white;
  border-radius: 100%;
  position: absolute;
  top: 1px;
  right: 3px;
  visibility: hidden;
}

.on-circle.active {
  visibility: visible;
}

.ridehistory {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ridehistory h2 {
  font-weight: 500;
  margin-top: 1.8rem;
}

.ridehistorydiv1, .ridehistorydiv2 {
  padding: 20px;
  background-color: white;
  border-radius: 0.5rem;
  line-height: 1.5;
}

.ridehistorydiv1 a {
  text-decoration: none;
  color: #33404c;
}

.ridehistorydiv1_element, .ridehistorydiv2_element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ridehistorydiv1_elementtext {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  list-style: 1;
}

.ridehistorydiv1_elementtext h4 {
  font-size: 16px;
  font-weight: 600;
}

.ridehistorydiv1_element {
  display: flex;
  gap: 6rem;
  position: relative;
}

/* .ridehistorydiv1_element img {
  position: absolute;
  bottom: 25px;
  right: 10px;
} */

.ridehistorydiv2 {
  margin-top: 0.8rem;
  background-color: white;
  border-radius: 0.5rem;
  line-height: 1.5;
}

.ridehistorydiv2 a {
  text-decoration: none;
  color: #33404c;
}

.ridehistorydiv2_elementtext {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.ridehistorydiv2_elementtext h4 {
  font-size: 16px;
  font-weight: 600;
}

.ridehistorydiv2_element {
  display: flex;
  gap: 6rem;
  position: relative;
}

/* .ridehistorydiv2_element img {
  position: absolute;
  bottom: 25px;
  right: 10px;
} */

.payments h2 {
  font-weight: 500;
  margin-top: 1.8rem;
  padding: 5px;
}

.payment_container {
  margin: 0 auto;
  background-color: white;
  border-radius: 0.5rem;
}

.payment_container a {
  text-decoration: none;
  color: #33404c;
}

.payment_containerelement {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: relative;
}

.payment_containerelementtext {
  display: flex;
  flex-direction: column;
}

.payment_containerelementtext h4 {
  font-size: 16px;
  font-weight: 600;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

ul {
  display: flex;
  width: clamp(300px, 87vw, 1000px);
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 15px 15px;
  list-style: none;
  gap: 10px;
  z-index: -1;
}

ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #33404c;
  font-size: 12px;
}

footer img {
  width: 20px;
}
