* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #33404c;
}

body {
  display: flex;
  justify-content: center;
}

p {
  font-size: 10px;
  font-weight: 500;
  color: #33404c;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: clamp(300px, 100vw, 1000px);
  margin: 0 auto;
}

header {
  padding: 20px 15px;
  border-bottom: 1px solid #071a39;
  background-color: white;
  width: clamp(300px, 100vw, 1000px);
  position: fixed;
  top: 0;
}

.h-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-back {
  width: 25px;
  transition: transform 0.3s ease-in-out;
}

.arrow-back:hover {
  transform: scale(1.3);
}

header h2 {
  font-size: clamp(16px, 4vw, 20px);
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 110px 20px 120px 20px;
  width: clamp(200px, 100vw, 1000px);
  margin: 0 auto;
}

.driver-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #071a39;
  border-radius: 10px;
  padding: 10px;
}

.first-section {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  width: 90%;
  border-bottom: 1px solid #071a3950;
}

.driver-card-img {
  height: 70px;
  width: 60px;
  border-radius: 5px;
  object-fit: cover;
}

.second-section {
  padding: 10px 0;
  width: 90%;
}

.decision-btn {
  display: flex;
  justify-content: space-between;
  width: clamp(200px, 70vw, 100%);
  margin: 0 auto;
  /* gap: 10px; */
  /* border: 2px solid red; */
}

.decision-btn button {
  padding: 7px 40px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.decision-btn button:hover {
  background: rgb(233, 114, 114);
  color: white;
}

.decision-btn button:last-of-type {
  background: #071a39;
  color: white;
  transition: 0.3s ease-in-out;
}

.decision-btn button:last-of-type:hover {
  background: #7cd04f;
}

.decision-btn button:last-of-type.active {
  background: #7cd04f;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 100vw, 1000px);
  margin: 0 auto;
  padding: 20px;
  border-top: 1px solid lightgrey;
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

footer button {
  width: 100%;
  height: 50px;
  padding: 7px 40px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #071a39;
  color: white;
  transition: background 0.3s;
}

footer button:hover {
  background: #7cd04f;
}
