* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #33404c;
}

p {
  font-size: 10px;
  font-weight: 500;
  color: #33404c;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

header {
  padding: 20px 15px;
  border-bottom: 1px solid #071a39;
}

.h-div {
  display: flex;
  gap: 50px;
  align-items: center;
}

.arrow-back {
  width: 25px;
}

header h2 {
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.driver-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #071a39;
  border-radius: 10px;
  padding: 10px;
}

.first-section {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  width: 90%;
  border-bottom: 1px solid #071a3950;
}

.driver-card-img {
  height: 70px;
  width: 60px;
  border-radius: 5px;
  object-fit: cover;
}

.ratings {
  display: flex;
  gap: 5px;
  align-items: center;
}

.ratings img {
  width: 12px;
  height: 12px;
}

.second-section {
  padding: 10px 0;
  width: 90%;
}

.decision-btn {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.decision-btn button {
  padding: 7px 40px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
}

.decision-btn button:last-of-type {
  background: #071a39;
  color: white;
  transition: 0.3s ease-in-out;
}

.decision-btn button:last-of-type:hover {
  background: #7cd04f;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-top: 1px solid lightgrey;
  position: fixed;
  bottom: 0;
}

footer button {
  width: 100%;
  height: 50px;
  padding: 7px 40px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background: #071a39;
  color: white;
  transition: background 0.3s;
}

footer button:hover {
  background: #7cd04f;
}
