* {
    color: #33404c;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4e7eb;
    width: clamp(390px, 100vw, 1000px);
    margin: auto;
}
.heading {
    margin: 2rem;

    p {
        text-align: center;
    }
}

.h-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h2 {
        margin-bottom: 0.5rem;
    }
}

.return {
    position: absolute;
    left: 0;
}

.return img {
    width: 25px;
    transition: transform 0.3s ease-in-out;
}

.return img:hover {
  transform: scale(1.1);
}
.parent {
    background: white;
    padding: 1.5rem;
    border-radius: 0.6rem;
    margin: 0 1rem 1rem 1rem;
}

.personal-details {
    border-bottom: 1px solid #071a39;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    h4 {
        margin-bottom: 0.5rem;
    }
}

.personal-details div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    position: relative;
}

.vehicle-details {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.p-d {
    margin-bottom: 0.5rem;
}
.v-d {
    margin: 1.5rem 0 0.5rem 0;
}

.vehicle-details div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    position: relative; 
}

.vehicle-details h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

input {
    background-color: transparent;
    border: none;
    border: 2px solid #071a39;
    border-radius: 0.4rem;
    padding: 0.8rem;
    transition: border 0.3s ease-in-out;
}

input:focus {
    border: 2px solid #7cd04f;
    outline: none;
}

button {
    background-color: #071a39;
    color: white;
    font-weight: 550;
    border: none;
    border: 2px solid #071a39;
    border-radius: 0.4rem;
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.8rem;
    transition: background 0.3s;
}

button:hover {
    background: #7cd04f;
    border: none;
}

.error {
  font-size: 13px;
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
