* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #33404c;
}

p {
  font-size: 10px;
  font-weight: 500;
  color: #33404c;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

header {
  padding: 20px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.h-div {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.arrow-back {
  width: 25px;
  transition: transform 0.3s ease-in-out;
}

.arrow-back:hover {
  transform: scale(1.3);
}

header h2 {
  font-size: 20px;
  margin-right: 2rem;
}
/* unavailable ride section */

.unavailable-ride-container {
    display: none;
}

/* main section */

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 120px 20px;
}

.passengers-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* border: 1px solid #071a39; */
  border-radius: 10px;
  padding: 10px;
  /* border: 2px solid red; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.first-section {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  width: 90%;
}

.passenger-card-img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.first-passenger-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.first-passenger-details p {
    font-size: 12px;
    color: gray;
}

.passenger-details {
  display: flex;
  gap: 5px;
}

.second-section {
  padding: 10px 0;
  width: 90%;
}

.decision-btn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.decision-btn button {
  padding: 12px 50px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.decision-btn button:hover {
  background: rgb(233, 114, 114);
  color: white;
}

.decision-btn button:last-of-type {
  background: #071a39;
  color: white;
  transition: 0.3s ease-in-out;
}

.decision-btn button:last-of-type:hover {
  background: #7cd04f;
}

/* end of main styling */

ul {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    padding: 15px 50px;
    list-style: none;
}

ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 12px;
}

footer img {
    width: 20px;
}