* {
  color: #33404c;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e7eb;
  width: clamp(390px, 100vw, 1000px);
  margin: auto;
}

.heading {
  margin: 2rem;
  line-height: 1;

  p {
    text-align: center;
  }
}

.h-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.return {
  position: absolute;
  left: 0;
}
.return img {
  width: 25px;
}

.logo img {
  width: 12rem;
}

.parent {
  background: white;
  padding: 1.5rem;
  margin: 3rem 1rem 1rem 1rem;
  border-radius: 0.4rem;
}

form h4 {
  text-align: center;
  margin-bottom: 1rem;
}


input {
    width: 100%;
    border: none;
    border: 2px solid #071a39;
    border-radius: 0.4rem;
    padding: 0.8rem;
    transition: border 0.3s ease-in-out;
}

.error-message {
    color: #ff3860;
    font-size: 13px;
    height: 13px;
    margin: 0.3rem;
}

#field-input.error input{
    border-color: #ff3860;
}

#field-input.success input{
    border-color: #071a39;
}

button {
    background-color: #071a39;
    font-weight: 550;
    border: none;
    border: 2px solid #071a39;
    border-radius: 0.4rem;
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.8rem;
    text-align: center;
    transition: background 0.3s;
    color: white;
}

span {
  color: white;
}
button:hover {
    background: #7cd04f;
    border: none;
}

/* loader styling */
.loader {
  display: none;
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg);}
}

.loading .btn-text {
  display: none;
}

.loading .loader {
  display: inline-block;
}

.footer {
  margin-top: -0.5rem;
}